{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">
        Your AAN application
    </h1>

    <p class="govuk-body-m">The following pre-populated information is taken from your existing apprenticeship account on GOV.UK:</p>
    <ul class="govuk-body-m medium-margin-bottom indent">
      <li class="base-margin-bottom">name</li>
      <li class="base-margin-bottom">email address</li>
      <li class="base-margin-bottom">role</li>
      <li class="base-margin-bottom">employer</li>
      <li class="base-margin-bottom">application status</li>
    </ul>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    {% from "govuk/components/select/macro.njk" import govukSelect %} 
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukInput({
            label: {
                text: "Full Name"
            },
            id: "full-name",
            name: "full-name",
            classes: "govuk-!-width-two-thirds",
            value: data['full-name']
            }) 
        }}

            
         {{ govukCheckboxes({
          name: 'region',
          classes: "govuk-checkboxes--small filter-region",
          fieldset: {
            legend: {
              text: "Please choose the region(s) you are active in as an apprentice",
              classes: 'govuk-body--m'
            }
          },
          hint: {
              text: "This can be the location of your employer"
          },
          items: regions,
          value: data['filter-region']

        }) }}  

        {% from "govuk/components/select/macro.njk" import govukSelect %}

            {{ govukSelect({
            id: "new-members",
            name: "New Members",
            label: {
                text: "Please select the sector of your apprenticeship"
            },
            items: industrySelect
            }) 
          }}  

      

        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
        name: "with-hint",
        id: "with-hint",
        maxlength: 250,
        label: {
          text: "Please outline why you want to join the network (max 250 characters)",
          classes: "govuk-body-m",
          isPageHeading: true
        },
        value: data['application-reasons']
        }) 
      }}

     

        {{ govukCheckboxes({
          name: "network-preferences",
          classes: "base-margin-bottom",
          fieldset: {
            legend: {
              text: "Please select your preferences in supporting the network"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Online",
              text: "Online Event"
            },
            {
              value: "In Person",
              text: "In person Events"
            },
            {
              value: "Hybrid",
              text: "Hybrid Events"
            },
            {
              value: "Case Studies",
              text: "Case Studies"
            },
            {
              value: "Social Media",
              text: "Social Media"
            },
             {
              value: "Resources and Templates",
              text: "Resources and templates"
            },
            {
              value: "Comms",
              text: "Comms"
            },
            {
              value: "Design",
              text: "Design"
            },
            {
              value: "Project Management",
              text: "Project Management"
            },
            {
              value: "Stakeholder Engagement",
              text: "Stakeholder Engagement"
            }
          ]
         
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios--small",
            name: "previous-engagement",
            fieldset: {
              legend: {
                text: "Are you joining because you have engaged with a previous ambassador in the AAN?",
                classes: "govuk-uk--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukCheckboxes({
          name: "line-manager",
          classes: "base-margin-bottom",
          fieldset: {
            legend: {
              text: "Please confirm:",
              classes: "govuk-!-font-weight-bold"  
            }
          },
          value: data[line-manager],
          items: [
            {
              value: "I have told my line manager I am joining the AAN",
              text: "I have told my line manager I am joining the AAN"
            } 
          ]
          })
        }}


             {% from "govuk/components/button/macro.njk" import govukButton %}

           {{ govukButton({
               text: "Next",
               href: "consent"
           })
         }}
    
        </form>
 

{% endblock %}
