{% extends "layout.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

      <p class="govuk-body-m">Here are your existing details from your Apprenticeship account. If any of these details are incorrect, please log in to your account and update them.</p>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }{
            key: {
              text: "Organisation's postcode"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }{
            key: {
              text: "Start and end date of apprenticeship"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }{
            key: {
              text: "Apprenticeship sector"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }{
            key: {
              text: "Apprenticeship programme"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }{
            key: {
              text: "Apprenticeship level"
            },
            value: {
              text: "Content pulled from the apprentice portal displayed here"
            }
          }
        ] 
      })
    }}
 
    <p class="govuk-body-m">Here is the additional information you have provided in your application.</p>


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
          key: {
            text: "Regions you are active in"
          },
          value: {
            text: data['region']
          },
          actions: {
            items: [
              {
                href: "/region",
                text: "Change",
                visuallyHiddenText: "region"
              }
            ]
          }
        },
          {
            key: {
              text: "Reasons for applying"
            },
            value: {
              text: data['application-reasons']
            },
            actions: {
              items: [
                {
                  href: "/outline-application",
                  text: "Change",
                  visuallyHiddenText: "application outline"
                }
              ]
            }
          },
          {
            key: {
              text: "Network preferences"
            },
            value: {
              text: data['network-preferences']
            },
            actions: {
              items: [
                {
                  href: "/preferences",
                  text: "Change",
                  visuallyHiddenText: "Network preferences"
                }
              ]
            }
          },
          {
            key: {
              text: "Previous engagement with network ambassadors"
            },
            value: {
              text: data['previous-engagement']
            },
            actions: {
              items: [
                {
                  href: "/engagement",
                  text: "Change",
                  visuallyHiddenText: "Previous engagement"
                }
              ]
            }
          }
        ] 
      })
    }}

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      name: "line-manager",
      classes: "base-margin-bottom",
      fieldset: {
        legend: {
          text: "Please confirm:",
          classes: "govuk-!-font-weight-bold"  
        }
      },
      items: [
        {
          value: "I have approval from my line manager to join the network",
          text: "I have approval from my line manager to join the network"
        } 
      ]
      })
    }}


      <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that all the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and submit"
        }) }}

      </form>
      
    </div>
  </div>


{% endblock %}