{% extends "layout.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  {% from "govuk/components/panel/macro.njk" import govukPanel %}

{{ govukPanel({
    titleText: "Thank you for your application to join the network.",
    html: "Network members play a vital role in championing apprenticeships across England.<br>
    We will contact you via email within 24 hours to confirm your application and outline next steps."

    }) 
}}

{% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Continue",
    href: "/hubHome"
    }) }}

{% endblock %}

