{% extends "layout.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Terms and Conditions
      </h1>

      <p class="govuk-body-m">
        By using this service, you agree to: 
      </p>
      

      <ul class="govuk-body-m medium-margin-bottom indent">
        <li class="base-margin-bottom">share your name, email address and the area of the country which you live in</li>
        <li class="base-margin-bottom">adhere to the network’s <a href="#">code of conduct and values</a></li>
      </ul>


        <p class="govuk-body-m">
          Your agreement will allow us to:
        </p>

      <ul class="govuk-body-m medium-margin-bottom indent">
        <li class="base-margin-bottom">display your information to ambassadors searching within the network </li>
        <li class="base-margin-bottom">show members your name, email address and the area you live in relation to the events you have signed up for </li>
        <li class="base-margin-bottom">provide members with a way to contact and network with you</li>
        <li class="base-margin-bottom">monitor ambassador activity to support and develop the network </li>
      </ul>

      <p class="gov-body-s medium-margin-bottom">
          You can alter your information sharing preferences at any time within your profile settings. If your profile is set to private, network members will not be able to search and contact you.
      </p> 

      {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
              text: "Confirm and continue",
              href: "/employer"
            }) 
      }}

</div>
</div>

{% endblock %}