{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageNavigation %}
  
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Events",
              href: "/events"
            },
            {
              text: "Events Notifications",
              href: "/event-notifications"
            }
            ]
        }) }}
  {% endblock %}

{% block content %}

    {% set eventTitle %}
        {{selectedEvent.eventTitle}}
    {% endset %}

  <h1 class="govuk-heading-xl">
  {{selectedEvent.eventTitle}}
  </h1>
  
  <p class="govuk-body-l">
   All details about this event
  </p>

  <p class="govuk-body-l 
               small-margin-bottom">
               Join regional AAN colleagues at Manchester Town Hall on Tuesday 27 September to share your recent activity within the network.</p>

  <p class="govuk-body-l 
               small-margin-bottom">Fellow ambassadors will talk about their experience at recent events. There will be an insight sharing session, guest speakers and an opportunity to network with colleagues who are new to the network.</p>
  
    <p class="govuk-body-l 
            small-margin-bottom">Time: 7pm arrivals for 7:30pm start</p>

  <p class="govuk-body-l 
            medium-margin-bottom">Guest speakers: 

    Sam Kershaw - Apprenticeships at Manchester United 
    Lia Emanuel - Parc and Recs of MCR</p>

    <div class="flex">
        <img src="/public/images/pin.png" alt="location" height="30px">

        <a href="#" class="govuk-body-l indent-s govuk-link">https://goo.gl/maps/hDEMtrUzgn16MWTQ8</a>
    </div>


    <p class="govuk-body-m base-margin-bottom">
        See who else has already signed up to this event:</p>

    <div class="flex">

        {% for member in members %}
            {% include "profilePics.html" %} 
        {% endfor %}
    </div>

    {% set cards = [
        {
            title: "Regional meet-up resources & templates",
            subtitle: "Relevant support resources you may want to use for this event.",
            id: "resources"
        }
    ]
    %}
    
    {% for card in cards %}
        {% include "eventCard.html" %} 
    {% endfor %}

    {% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukButton({
        text: "Sign up",
        href: "/success-manage-event"
        }) 
    }}

{% endblock %}