{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageNavigation %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Events",
              href: "/events"
            },
            {
              text: "Manage Events",
              href: "/manage-event"
            },
            {
              text: "Feedback Forms",
              href: "/feedback-template"
            }

            ]
        }) }}
  {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
   Your event feedback
  </h1>
  
  <div class="feedback-container small-margin-bottom">

        <p class="govuk-body-l 
                  base-margin-bottom">
            You attended: {{ selectedForm.eventName }}
        </p>

        <p class="govuk-body-l 
                  base-margin-bottom">
            Date: {{ selectedForm.date }}
        </p>

        <p class="govuk-body-l 
                  base-margin-bottom">
            Location: {{ selectedForm.location }}
        </p>
    </div>


  
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
         classes: "govuk-radios--small",
         id: "agenda",
         fieldset: {
              legend: {
                text: "Did the meeting go ahead and stay on agenda?",
                classes: "govuk-body-m"
          }
     },
        items: [
              {
                 value: "yes",
                 text: "Yes"
             },
            {
            value: "no",
            text: "No"
            }
     ]
        }) 
    }}

        {{ govukRadios({
            classes: "govuk-radios--small",
            id: "agenda",
            fieldset: {
                legend: {
                text: "Were you able to get the support you needed from other ambassadors / organisations?",
                classes: "govuk-body-m"
            }
        },
        items: [
                {
                    value: "yes",
                    text: "Yes"
                },
            {
            value: "no",
            text: "No"
            }
        ]
        }) 
        }}

        {{ govukRadios({
            classes: "govuk-radios--small",
            id: "future",
            fieldset: {
                legend: {
                text: "Would you attend a similar event in the future?",
                classes: "govuk-body-m"
            }
        },
        items: [
                {
                    value: "yes",
                    text: "Yes"
                },
            {
            value: "no",
            text: "No"
            }
        ]
        }) 
        }}

        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

            {{ govukCharacterCount({
            name: "role-at-event",
            id: "role-at-event",
            maxlength: 500,
            label: {
                text: "What was your main role at the event?",
                classes: "govuk-body-m"
            }
            }) 
        }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}

            {{ govukSelect({
            id: "new-members",
            name: "New Members",
            label: {
                text: "How many new AAN members did you meet?"
            },
                items: [
                        {
                        value: "0-5",
                        text: "0-5"
                        },
                        {
                            value: "6-10",
                            text: "6-10"
                        },
                        {
                            value: "11-15",
                            text: "11-15"
                        },
                        {
                            value: "16-20",
                            text: "16-20"
                        },
                        {
                            value: "21+",
                            text: "21+"
                        }
                    ]
            }) }}   
    
    
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
        text: "Submit",
        href: "/hubHome"
        }) 
    }}

{% endblock %}