{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/engagement" method="post">

        {{ govukCheckboxes({
          name: "network-preferences",
          classes: "base-margin-bottom",
          hint: {
            text: "Select all that apply."
          },
          fieldset: {
            legend: {
              text: "Please tell us which ways you can support the network",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          
          items: [
            {
              value: "Case studies",
              text: "Case studies"
            },
            {
              value: "Communication",
              text: "Communication"
            },
            {
              value: "Design",
              text: "Design"
            },
            {
              value: "Hybrid events (available in person and online)",
              text: "Hybrid events (available in person and online)"
            },
            {
              value: "In person events",
              text: "In person events"
            },
            {
              value: "Online events",
              text: "Online events"
            },
            {
              value: "Project management",
              text: "Project management"
            },
            {
              value: "Resources and templates",
              text: "Resources and templates"
            },
            {
              value: "Social media",
              text: "Social media"
            },
            {
              value: "Stakeholder engagement",
              text: "Stakeholder engagement"
            }
          ]
         
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
