{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How will you support the network?</h1>

      <form class="form" action="/engagement" method="post">

        {{ govukCheckboxes({
          name: "network-preferences",
          classes: "base-margin-bottom",
          hint: {
            text: "Select all that apply."
          },
          
          items: [

            {
              value: "Online events",
              text: "Online Event"
            },
            {
              value: "In person events",
              text: "In person Events"
            },
            {
              value: "Hybrid events (available in person and online)",
              text: "Hybrid Events"
            },
            {
              value: "Case studies",
              text: "Case Studies"
            },
            {
              value: "Social media",
              text: "Social Media"
            },
             {
              value: "Resources and templates",
              text: "Resources and templates"
            },
            {
              value: "Communication",
              text: "Communication"
            },
            {
              value: "Design",
              text: "Design"
            },
            {
              value: "Project management",
              text: "Project Management"
            },
            {
              value: "Stakeholder engagement",
              text: "Stakeholder Engagement"
            }
          ]
         
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
