{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply to become an Apprenticeship Ambassador
      </h1>

      <p>Find out more about the <a href="https://www.apprenticeships.gov.uk/">Apprenticeship Ambassador Network</a> and how it champions apprenticeships across England. </p>

      <p>Before you start your application you will need:</p>


      <ul class="govuk-body-m medium-margin-bottom indent">
        <li class="base-margin-bottom">where you live and work</li>
        <li class="base-margin-bottom">name of your employer</li>
        <li class="base-margin-bottom">approval from your line manager due to time commitments outside of work hours </li>
        <li class="base-margin-bottom">your reasons for wanting to join the network</li>

      </ul>

      <p>Please note, you cannot save your answers during the application process and each page has a 30 minute timeout period.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

           {{ govukButton({
               text: "Start now",
               href: "/consent"
           })
         }}
    </div>
  </div>

{% endblock %}
