{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What information would you to display on your profile?
        </h1>
      </legend>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name">
              <label class="govuk-label govuk-checkboxes__label" for="approved">
                <span class="govuk-visually-hidden">Name</span>
              </label>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="approved-2" name="approved" type="checkbox" value="dob">
              <label class="govuk-label govuk-checkboxes__label" for="approved-2">
                <span class="govuk-visually-hidden">Date of birth</span>
              </label>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="approved-3" name="approved" type="checkbox" value="address">
              <label class="govuk-label govuk-checkboxes__label" for="approved-3">
                <span class="govuk-visually-hidden">Address</span>
              </label>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="approved-4" name="approved" type="checkbox" value="contact-details">
              <label class="govuk-label govuk-checkboxes__label" for="approved-4">
                <span class="govuk-visually-hidden">Contact details</span>
              </label>
            </div>
          </dd>
        </div>
      </dl>
    </fieldset>
  </div>

{% endblock %}


